*
  box-sizing border-box
  position relative

html, body, h1, h2, h3, h4, h5, h6, button
  font-family: 'PT Serif', serif;

html
  height 100%
  width 100%

body
  width 100%
  height 100%
  overflow auto
  color #ccc

/* override jumbotron huge paddings */
.jumbotron
  padding-top 1em !important
  padding-bottom 1em !important

header
  padding 1em

.copyright
  position absolute
  bottom 1em
  right 1em

.btn-file
  position relative
  overflow hidden
  input[type=file]
    position absolute
    top 0
    right 0
    min-width 100%
    min-height 100%
    font-size 100px
    text-align right
    opacity 0
    background red
    cursor inherit
    display block

.editor-wrapper
  position relative
  display block
  padding-bottom 0.5em

  .actions
    vertical-align middle
    text-align left
    button.clear-input
      float right

  .area
    min-height 500px
    padding 0.5em
    border-radius 0.3em
