body,
html {
  height: 100%;
  width: 100%;
}

.btn-file {
  overflow: hidden;
}

body {
  margin: 0;
}

* {
  position: relative;
}

body {
  overflow: auto;
}

.jumbotron {
  padding-top: 1em!important;
  padding-bottom: 1em!important;
}

.copyright {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.btn-file {
  position: relative;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

.editor-wrapper {
  position: relative;
}

.editor-wrapper {
  display: block;
  padding-bottom: .5em;
}

.editor-wrapper .actions {
  vertical-align: middle;
  text-align: left;
}

.editor-wrapper .actions button.clear-input {
  float: right;
}

.editor-wrapper .area {
  min-height: 500px;
  padding: .5em;
  border-radius: .3em;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'),local('Lato-Regular'),url(http://fonts.gstatic.com/s/lato/v11/v0SdcGFAl2aezM9Vq_aFTQ.ttf)format('truetype');
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'),local('Lato-Bold'),url(http://fonts.gstatic.com/s/lato/v11/DvlFBScY1r-FMtZSYIYoYw.ttf)format('truetype');
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'),local('Lato-Italic'),url(http://fonts.gstatic.com/s/lato/v11/LqowQDslGv4DmUBAfWa2Vw.ttf)format('truetype');
}

/*!
 * bootswatch v3.3.2
 * Homepage: http://bootswatch.com
 * Copyright 2012-2015 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*/

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  margin: .67em 0;
}

img {
  border: 0;
  vertical-align: middle;
}

button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
  img {
    page-break-inside: avoid;
  }

  *,
  :after,
  :before {
    background: 0 0!important;
    color: #000!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href)")";
  }

  img {
    max-width: 100%!important;
  }

  p {
    orphans: 3;
    widows: 3;
  }
}

body {
  background-color: #fff;
}

.btn,
.btn-default:active,
.btn-warning:active,
.btn:active {
  background-image: none;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons-halflings-regular.eot?#iefix)format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2)format('woff2'),url(../fonts/glyphicons-halflings-regular.woff)format('woff'),url(../fonts/glyphicons-halflings-regular.ttf)format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular)format('svg');
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2c3e50;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #18bc9c;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #18bc9c;
  text-decoration: underline;
}

a:focus {
  outline: dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

h1,
h5 {
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}

h1 {
  margin-top: 21px;
  margin-bottom: 10.5px;
}

h5 {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
}

h1 {
  font-size: 39px;
}

h5 {
  font-size: 15px;
}

p {
  margin: 0 0 10.5px;
}

.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.container,
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-4,
.col-xs-6,
.col-xs-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-4,
.col-xs-6,
.col-xs-8 {
  float: left;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-4 {
  width: 33.33333333%;
}

input[type=file] {
  display: block;
}

input[type=file]:focus {
  outline: dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

.form-control::-moz-placeholder {
  color: #acb6c0;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #acb6c0;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:active:focus,
.btn:focus {
  outline: dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

.btn:focus,
.btn:hover {
  color: #fff;
  text-decoration: none;
}

.btn:active {
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-default {
  color: #fff;
  background-color: #95a5a6;
  border-color: #95a5a6;
}

.btn-default:active,
.btn-default:focus,
.btn-default:hover {
  color: #fff;
  background-color: #798d8f;
  border-color: #74898a;
}

.btn-success {
  color: #fff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.btn-success:active,
.btn-success:focus,
.btn-success:hover {
  color: #fff;
  background-color: #128f76;
  border-color: #11866f;
}

.btn-success:active {
  background-image: none;
}

.btn-warning {
  color: #fff;
  background-color: #f39c12;
  border-color: #f39c12;
}

.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover {
  color: #fff;
  background-color: #c87f0a;
  border-color: #be780a;
}

.btn-sm {
  padding: 6px 9px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
}

.jumbotron,
.jumbotron h1 {
  color: inherit;
}

.jumbotron {
  padding: 30px 15px;
  margin-bottom: 30px;
  background-color: #ecf0f1;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 23px;
  font-weight: 200;
}

.container .jumbotron {
  border-radius: 6px;
}

@media screen and (min-width:768px) {
  .jumbotron {
    padding: 48px 0;
  }

  .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }

  .jumbotron h1 {
    font-size: 67.5px;
  }
}

.btn:active,
input:focus {
  box-shadow: none;
}

.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
  content: " ";
  display: table;
}

.container-fluid:after,
.container:after,
.row:after {
  clear: both;
}

@-ms-viewport {
  width: device-width;
}

input {
  border-width: 2px;
  box-shadow: none;
}
